body {
    background-image: radial-gradient(4px at center,black 20%, transparent 20%), radial-gradient(4px at center,black 20%, transparent 20%);
    background-position: 0px 0px, 4px 3px;
    background-size: 8px 6px;
    background-color: rgb(255, 255, 255);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
}

.main-header {
    text-align: left; /* center the text */
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    grid-column: 1 / 3;
    grid-row: 1;
  }

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: white; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: black; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #333; /* Grey background color */
    color: white; /* Black text color */
}


/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    position: -webkit-sticky;
    position: sticky;
    height: fit-content;
    top: 0;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    grid-column: 1;
    grid-row: 2;
}

/* Main column */

.content {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}

.toc ul {
    list-style: none;
}

footer {
    text-align: center; /* Center text*/
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    grid-column: 1 / 3;
    grid-row: 3;
}